<div class="container">

  <h2>Login</h2>

  <div *ngIf="afAuth.authState | async as user; else showLogin">
      <h1>Hello {{ user.displayName }}!</h1>
      <button  class="btn btn-lg btn-warning" (click)="logout()">Logout</button>
  </div>
  <ng-template #showLogin>
      <p>Please login.</p>
      <button class="btn btn-lg btn-primary" (click)="login()">Login with Google</button>
  </ng-template>

  <hr>

  <app-blog-create></app-blog-create>

  <hr>

  <app-blog-list></app-blog-list>

  

</div>