/* You can add global styles to this file, and also import other style files */
.borderd{
    padding:5px; margin:5px;
    border: 1px solid #2e2e2e;
    border-radius: 5px;
    display: inline-block;
}